In [7]:
# TASK 01
Name = "TanzeelAhmad"
Dept = "BSE"
Rollno = 192

print ("My Name  is" ,Name ,"\nI am currently in deparment of", Dept," \nMy Roll no is" ,Rollno)

My Name  is TanzeelAhmad
I am currently in deparment of BSE
My Roll no is 192

In [21]:

# TASK 02
num1 = 50 
num2 = 4

addition = print (num1 + num2)
subtraction =print (num1 - num2)
Multiplication =print (num1 * num2)
division = print (num1 / num2)
mod =print (num1 % num2)

54
46
200
12.5
2

In [51]:
feet = float(input("enter your measurements in feet"))
inch = float(input("enter your measurements in inch"))
i = feet * 12 
cm = (i + inch) * 2.54



print("This is the output feet to inches is", i)

print("This is total output in inches", cm)

enter your measurements in feet 23
enter your measurements in inch 5

This is the output feet to inches is 276.0
This is total output in inches 713.74

In [65]:
gfeet = eval(input('Enter value in feet'))
ginch = eval(input('Enter value in inch'))
inch = (gfeet * 12) + ginch
final = inch * 2.54
print('Your height is ',final,'cm')

Enter value in feet 2
Enter value in inch 3

Your height is  68.58 cm

SyntaxError: invalid syntax (15193383.py, line 1)