In [1]:
# Input implementation

user = input("What is your Name")
print (user)

What is your Name Tanzeel

Tanzeel

In [3]:
# Displaying input values in the middle of statement

user1 = input()
print ("The user Name is ", user1 , "and He is a Al developer")

 Tanzeel

The user Name is  Tanzeel He is a Al developer

In [1]:
# Displaying input by using a operator
name = input()
print ("AI developer is " + name)

 Jhon

AI developer is Jhon

In [5]:
name = input()
print ( +name"AI developer is " )

SyntaxError: invalid syntax. Perhaps you forgot a comma? (64162827.py, line 2)

In [7]:
# Input with type restrictions
Name = input()  ## Default String
Age = int(input()) ## restricted integers
height = float(input()) # Height
 # the input data type in pyhton is set to string by default

 dasfa
 sffs

ValueError: invalid literal for int() with base 10: 'sffs'

In [9]:
# Type casting integer to Float 
n = int(input("Enter a Number:"))
print (n +200)

Enter a Number: 4.5

ValueError: invalid literal for int() with base 10: '4.5'

In [11]:
n = float(input("Enter a Number:"))
print (n +200)

Enter a Number: 24.4

224.4

In [13]:
# split Method
## This is helps us to get multiple inputs from user at the same instance.
x,y,z = input("Enter 3 values").split()
print("First input",x)
print("Second input",y)
print("Third input",z)

Enter 3 values 1 2 3

First input 1
Second input 2
Third input 3

In [17]:
# Separator
print ("Hello","SUP", sep='!!!')

Hello!!!SUP

In [25]:
# print with separator and end parameters:
a = 8
print ("A =",a,sep="0.0f", end='\n')

A =0.0f8

In [27]:
# we can alsi use escape character with separators
# print function by Default has \n escapec charactors

Take three inputs as intergers and displays their average using eval

In [32]:
num1 = float(input("Enter Number 1"))
num2 = float(input("Enter Number 2"))
num3 = float(input("Enter Number 3"))

print (eval("num1 + num2  + num3 / 3"))

Enter Number 1 2
Enter Number 2 3
Enter Number 3 4

6.333333333333333