In [1]:
# Temple literals Java scripts 
# Formatting literals Python

In [5]:
def student_info(name,info):
    if name == "David" and roll == 183:
        print("You are David student of SSUET")
    else:
        print("Your are not David")

In [ ]:
def Table(number):
    for i in range(1,11):
        print(i,"X", number,"=",i * number)

In [7]:
def Tables(number,number2):
    for i in range(1,11):
        print(i,"X", number,"=",i * number)
    for i in range(1,11):
        print(i,"X", number2,"=",i * number2)

In [21]:
def euro_to_pkr(euro):
       print(f'your amount in euro is: {euro} \n The amount in pkr is {euro * 293.13} ')

convertor=int(input('enter in euro'))
euro_to_pkr(convertor)

enter in euro 79

your amount in euro is: 79
 The amount in pkr is 23157.27

In [23]:
#curency=(euro,dollor,dinar,bitcoin)
con=(euro,dollor,dinar,bitcoin)
ques=input('enter your curency').split()
if ques =='euro':
    def curency1(euro):
        ans=euro*293.13
        X=cure(ans)
        print(X)
if ques ==

SyntaxError: invalid syntax (206126451.py, line 8)

In [51]:
# create a user defined function ,in which you call a function,then you pass name, roll number  and its marks of courses 5 courses ... that function
# should provide you a a grade , obtain marks and whether a student is pass or fail

def auto_grader(name ,roll,cs1,cs2,cs3,cs4,cs5):
    total_marks=50
    ob_marks=cs1+cs3+cs2+cs4+cs5
    print("Name : ",name)
    print("Roll No:",roll)
    print('your obtain marks is:',ob_marks)
    print("Your Percentage is :", ob_marks/total_marks * 100 )
    if ob_marks>=40:
        print("Your obtained Grade A*.")
    elif ob_marks>=30:
        print("Your obtained Grade B.")
    elif ob_marks>=25:
        print("Your Obtained Grade C .")
    elif ob_marks>=20:
        print("Your Obtained Grade D.")
    else:
        print("Your Obtained Grade is f.")
auto_grader('Tanzeel Ahmad',192,8,9,9,9,7)

Name :  Tanzeel Ahmad
Roll No: 192
your obtain marks is: 42
Your Percentage is : 84.0
Your obtained Grade A*