In [1]:
# Temple literals Java scripts 
# Formatting literals Python

In [5]:
def student_info(name,info):
    if name == "David" and roll == 183:
        print("You are David student of SSUET")
    else:
        print("Your are not David")

In [ ]:
def Table(number):
    for i in range(1,11):
        print(i,"X", number,"=",i * number)

In [7]:
def Tables(number,number2):
    for i in range(1,11):
        print(i,"X", number,"=",i * number)
    for i in range(1,11):
        print(i,"X", number2,"=",i * number2)