###Multiple Print() statement in python

In [7]:
print ("Hello EveryOne")
print ("Whats happening")
print ("This is called" + " Concatination")

Hello EveryOne
Whats happening
This is called Concatination

### end() = option in print statement 
end= in print() statement prints upcoming text on the same line rather than printing on the newline.
print("Hello”, end=“ ”)
print(“Python”)
print(“World”)

In [6]:
# similarly 
print ("My name is ", end='') # putput will be My name is Josh in the same line
print ("Josh")

My name is Josh

Comments in python is denoted by # 
"" and """or '''

### Escape sequences in PYTHON

In [1]:
''' Types of escape sequences are  as followes '''

''' \n, \t ,\b , \', \'', \r '''

print ( "Hello\nMario") # newline
print ( "Hello\tMario") # blank space
print ( "Hello\bMario") # backspace
print ( "Hello\'Mario\'") # wraping in quotes
print ( "Hello\''Mario\''") # 
print ( "Hello\rMario") # \r neglect kardenga phele wali string ko

Hello
Mario
Hello	Mario
HellMario
Hello'Mario'
Hello''Mario''
Mario

In [22]:
# NUMeric literls
i = int(input("Enter your value in integer"))
f = float(input("Enter your value in float"))
c = complex(input("Enter your value in complex"))

print (i)
print (f)
print(c)

Enter your value in integer 5
Enter your value in float 5
Enter your value in complex 5

5
5.0
(5+0j)

In [14]:
x = 1
y = 2
z = 3

x = (1 == True)
y = (2 == True)
z = (3 == True)


print (" x is ", x)
print (" y is ", y)
print (" z is ", z)

 x is  True
 y is  False
 z is  False

In [16]:
# Special_ loterials

special_literal = None
print (special_literal)

None

In [ ]:
# NAMING OF VARIABLES
# Camel Case
myFirstCode = 9
# Pascal Case
MyFirstCode = 9
# Snake Case
my_first_code = 5

In [18]:
# Reserve worlds
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [2]:
# undefined  or invalid type
print = 'a'
print(a)

NameError: name 'a' is not defined

In [2]:
# assigning same value to to different variaables
x = y = z = (Edwards keyway)
print(x)
print(y)
print(z)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2453480108.py, line 2)

In [22]:
# assigning different values to different variables in  single line
a,b,c = "Edwards keyway", "Ezio", "Conner"
print (x)
print (y)
print (z)

 hello , hi , wha

ValueError: too many values to unpack (expected 3)

In [39]:
# Compute the area of Circle
rad = 9
pi = 3.142

a = pi * (rad * rad)
print(a)

TypeError: 'str' object is not callable

In [6]:
z = 9
print (type(z))

<class 'int'>

In [26]:
# LISTS

L = [1 , "two" , 4.5 , "@" ,"lol"]
# lists are mutable and lists items can be  of any data type and they allow duplicate values.
# Getting type of L
print (type(L))
# Accessing an item in the list  L
print (L[2])
# to change an item or element in the list
L[0] = 24
# The above code will change the item at 0th index on the  list and replace it by 24
print (L)
# Now in order to add element on the List
L.insert(24,"orange")
print(L)
# In order to delete any item by index use popfunction
L.pop(3)
print(L)
# In order del item by value use remove function
L.remove(24)
print(L)

<class 'list'>
4.5
[24, 'two', 4.5, '@', 'lol']
[24, 'two', 4.5, '@', 'lol', 'orange']
[24, 'two', 4.5, 'lol', 'orange']
['two', 4.5, 'lol', 'orange']

In [28]:
###Tuples
# tuples are immmutable and are ordered they can also of any data type and they allow duplicate values

T = (1, "Ezio", "$", 4.5,"Hades",45)
print (T)

print (type(T))
# Length of the TUPLE
print (len(T))
# How to access elements of tuple
print (T[2])

# WE cannont change delete add a Tuple once it is created

(1, 'Ezio', '$', 4.5, 'Hades', 45)
<class 'tuple'>
6
$

In [44]:
# Dictionary
# these are ordered changable and doesnt allow duplicates
Stud = {"Name":"DAVID", "age":17.5,"Section":"F","DEPT":"SOFTWAREENGINEERING"}
print (Stud)
print (type(Stud))

# Length of the List
print (len(Stud))
# How to access elements
Stud = Stud["Name"]
print (Stud)

{'Name': 'DAVID', 'age': 17.5, 'Section': 'F', 'DEPT': 'SOFTWAREENGINEERING'}
<class 'dict'>
4
DAVID

In [40]:
# In Order to change a value of key in list in dictionary
S = {"Name":"DAVID", "age":17.5,"Section":"F","DEPT":"SOFTWAREENGINEERING"}
S["age"]= 18
print (S)

{'Name': 'DAVID', 'age': 18, 'Section': 'F', 'DEPT': 'SOFTWAREENGINEERING'}

In [48]:
# Add elements
S = {"Name":"DAVID", "age":17.5,"Section":"F","DEPT":"SOFTWAREENGINEERING"}
S['color'] = 'white'
print (S)
S.pop('color')
print (S)

{'Name': 'DAVID', 'age': 17.5, 'Section': 'F', 'DEPT': 'SOFTWAREENGINEERING', 'color': 'white'}
{'Name': 'DAVID', 'age': 17.5, 'Section': 'F', 'DEPT': 'SOFTWAREENGINEERING'}

In [ ]:
# Arthematic operators
print (9+10) # this is Addition
print (9 - 10) # this is subtraciton
print (9 * 10) # this is Multiplication
print (9 / 10) # this is Division
print (9**10) # this is Exponent
print (9//10) # this is Floor division

In [ ]:
# Comparision operators
print (9 == 10) # this is Equal ==
print (9 != 10) # this is NotEqual !=
print (9 > 10) # this is Greater than
print (9 < 10) # this is Less then
print (9 >= 10) # this is  Greater then equal to
print (9 <= 10) # this is Less then equal to

# the output will be in BOOLEAN(True or False )
# Depending on the condition

In [50]:
# logical Operators
# And Operator returns True if both of the statements are true
num1 = 2
print ( num1 < 3 and num1 > 1)
print (not(num1 < 3 and num1 > 1))
print ( num1 < 4 and num1 >  3)
print ( num1 < 1 and num1 > 1)

True
False
False
False

In [ ]:
# Assignment Operators
a = 1 # =
b += 2 # b = b + 2
c -= 3 # c = c - 3
d *= 4 # d = d * 4 
e /= 5 # e = e / 5
f %= 6 # f = f % 6
g **= 7 # g =g ** 7

### Operators Precedence Rule
Highest precedence rule to lowest precedence rule
Parenthesis are always respected
Exponentiation (raise to a power)
Multiplication, Division, and Remainder
Addition and Subtraction
Left to right

In [57]:
print (1 + 2**3/4 * 5)
print (2 * 2 - 3 > 2 or 4 - 2 > 5)
print ((2%2) + (2 * 2) - (2/2))

11.0
False
3.0